$c-black: #000000
$c-black-26: #000B26
$c-black-12: rgba($c-black, 0.12)

$c-green-8E: #07C88E
$c-green-C8: #B3EDC8
$c-green-DE: #BFF0DE

$c-blue: rgb(0, 11, 38)
$c-blue-33: rgb(6, 14, 33)

$c-yellow-8F: #FFE48F

$c-gray: rgb(62, 80, 114)