
@mixin inter
  font-family: 'Inter', serif
  font-size: 14px
  line-height: 18px
  letter-spacing: -0.15px
  color: rgba(0, 11, 38, 0.64)
  text-decoration: none

@mixin interForHeaderRightNav
  font-family: 'Inter', serif
  font-size: 14px
  line-height: 20px
  color: rgba(0, 11, 38, 0.8)


.header
  display: flex
  justify-content: space-between
  height: 80px
  box-shadow: 0 0.5px 0 rgba(0, 0, 0, 0.12)

.headerEcoRus
  width: 94px
  height: 18px

.headerLeft
  display: flex
  gap: 48px
  margin-left: 100px

.headerLeftNav
  display: flex
  gap: 24px

.headerLeftLink
  @include inter
  height: 49px

.headerLeftActiveLink
  color: #000B26
  font-weight: 500
  border-bottom: 3px solid #07C88E

.headerRight
  display: flex
  gap: 48px
  align-items: center

.headerRightNav
  display: flex
  gap: 24px
  @include interForHeaderRightNav

.headerRightLink, .headerRightLinkBold
  display: flex
  align-items: center
  gap: 8px

.headerRightLinkBold
  font-weight: 600
  color: black

.headerLeft, .headerRight
  margin: 31px 100px 31px 100px
